<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @car.Manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.Model %>
</p>

<p>
  <strong>Consumption:</strong>
  <%= @car.Consumption %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @car.Colour %>
</p>

<p>
  <strong>Year Of Release:</strong>
  <%= @car.YearOfRelease %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @car.Doors %>
</p>

<p>
  <strong>Image provided:</strong><br>
  <img src="<%= @car.URL %>" width="50%" height="50%" />
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
