<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @car.Manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.Model %>
</p>

<p>
  <strong>Consumption:</strong>
  <%= @car.Consumption %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @car.Colour %>
</p>

<p>
  <strong>Yearofrelease:</strong>
  <%= @car.YearOfRelease %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @car.Doors %>
</p>

<p>
  <strong>Url:</strong>
  <%= @car.URL %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
